@charset "UTF-8";

.container {
	position: absolute;
	height: 1250px;
}

/*div.layout div.main {
	position: relative;
	background-color: #fff;
	width: 1920px;
	height: 1250px;
	z-index: 1;
}*/

div.main {
background-color: #fff !important;
}

.crewrank {
	width: 280px;
	height: 35px;
	background-color: #fff;
	margin: 70px 1513px 800px -1px;
	margin-left: 100px;
	position: relative;
	left: 220px;
}

.crew_rank {
	width: 87px;
	height: 35px;
	margin: 53px 279px 20px 320px;
	/*폰트 적용*/
	font-family: 'Noto Sans KR';
	font-size: 24px;
	font-weight: 500;
	margin: auto;
	letter-spacing: -0.6px;
	text-align: left;
	color: #191919;
	letter-spacing: -0.6px;
}

.crewrank_list {
	width: 280px;
	height: 296px;
	position: relative;
	top: -790px;
	margin-left: 310px;
	position: relative;
}

.new_crew {
	width: 87px;
	height: 35px;
	margin: 53px 279px 20px 320px;
	/*폰트 적용*/
	font-family: 'Noto Sans KR';
	font-size: 24px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.6px;
	text-align: left;
	color: #191919;
	position: relative;
	top: -950px;
}

td, th, tr {
	/*폰트 적용*/
	font-family: 'Noto Sans KR';
}

.newcrewlist {
	width: 280px;
	height: 150px;
	position: relative;
	top: -940px;
	margin-left: 310px;
	position: relative;
}

.crewlist {
	width: 87px;
	height: 35px;
	margin: 53px 279px 20px 320px; 
	/*폰트 적용*/
	font-family: 'Noto Sans KR';
	font-size: 24px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.6px;
	color: #191919;
	position: relative;
	top: -1415px;
	left: 350px;
}

.mycrew {
	outline: none;
	width: 121px;
	height: 40px;
	margin: 50px 15px 18px 49px;
	padding: 8px 15px 10px 15px;
	border-radius: 20px;
	 border: 2px solid #ff4b4e; 
	 /*폰트 적용*/
	font-family: 'Noto Sans KR';
	font-size: 14px;
	font-weight: 400;
	background: transparent;
	cursor: pointer;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.35px;
	text-align: center;
	color: #ff4b4e;
	background-color: #ffffff;
	position: absolute;
	left: 580px;
	top: -108px;
	transition: all 0.3s ease;
}

.makecrew {
	width: 121px;
	height: 40px;
	margin: 50px 15px 18px 49px;
	padding: 8px 15px 10px 15px;
	border-radius: 20px;
	border: solid 1px #191919;
	/*폰트 적용*/
	font-family: 'Noto Sans KR';
	font-size: 14px;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.35px;
	text-align: center;
	color: #191919;
	background-color: #ffffff;
	position: absolute;
	left: 720px;
	top: -108px;
}

.btns {
	position: relative;
	top: -1397px;
	left: 680px;
}

.crewlisttable {
	width: 898px;
	height: 529px;
	position: relative;
	top: -1405px;
	left: 671px;

}

.search {
	position: relative;
	top: -1320px;
	left: 980px;
	width: 350px;
}

.text_search {
	width: 100%;
}

.icon {
position : absolute;
 width: 19px;
  height: 19px;
  margin: 0;
  padding: 3px;
  color: #767676;
  right: 40px;
}

.text_search:focus {
	outline-color: #ff4b4e;
}

input::-webkit-input-placeholder {
	color: #AAA;
}

input:focus::-webkit-input-placeholder {
	color: #ff4b4e;
	outline: none
}

.check{
	position: relative;
	top:-1350px;
	left: 1350px;
	
}

/* BEST 게시글 css */

table.list1{
   width: 290px; 
   height: 21px; 
   margin: 22px 0 0 20px;
}
   
table.list1 tr td.subject1{
   font-size: 15px;
   font-weight: 300;
   font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.38px;
    color: #505050;
    padding: 20px 0;
}
   
td.likecount1 {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.33px;
  color: #505050;   
   padding: 20px 0;
   text-align: right;
   
}

td.likecount1 img{
   max-width: 21px;
   max-height: 21px;
}
td {
  border-bottom: 1px solid #767676;
 
}
