@charset "UTF-8";

/* sidebar css 시작 */
div.sidebar_title {
	font-family: "Noto Sans KR";
	position: absolute;
	width: 330px;
	height: 35px;
	font-size: 24px;
	font-weight: 500;
	color: #191919;
	margin: 20px 10px 0 0;
	/* margin: 50px 10px 0 335px; */
}

#sidebar_hr { 
	position: absolute;
	width: 300px;
	height: 1px;
	background-color: #191919;
	margin: 70px 10px 0 0;
	/* margin: 100px 10px 0 335px; */
}

div.sidebar_content {
	position: absolute;
	width: 300px;
  	height: 500px;
  	margin: 70px 10px 0 0;
  	/* margin: 100px 10px 0 335px; */
}

div.sidebar_detail {
	font-family: "Noto Sans KR";
	font-size: 20px;
	font-weight: 400;
	color: #191919;
	letter-spacing: -0.5px;
	text-align: left;
	width: 300px;
  	height: 40px;
	margin: 15px 0 0 0;
}

div.sidebar_detail:hover {
	color: #ff4b4e;
}

span.side_main_span_main,.side_main_span_write,.side_main_span_market,.side_main_span_challenge,.side_main_span_scrap {
	width: 72px;
	height: 29px;
	margin: 20px 0 0 15px;
	cursor: pointer;
}
/* sidebar css 끝 */



/* 1. 나의활동>모아보기 시작 */
/* main css 시작 */
div.main_title {
	font-family: "Noto Sans KR";
	position: absolute;
	width: 880px;
	height: 35px;
	font-size: 24px;
	font-weight: 500;
	color: #191919;
	margin: 50px 0 0 150px;
	/* margin: 50px 0 0 700px; */
}

#main_hr { 
	position: absolute;
	width: 880px;
	height: 1px;
	background-color: #191919;
	margin: 100px 0 0 150px;
	/* margin: 100px 0 0 700px; */
}

div.main_content {
	position: absolute;
	width: 880px;
	height: 700px;
	margin: 100px 0 0 150px;
	/* margin: 100px 0 0 700px; */
	
	/* div 정렬 */
	display: flex;
    flex-wrap: wrap;
}

div.main_name1 {
	font-family: "Noto Sans KR";
	font-size: 24px;
	font-weight: 500;
	color: #191919;
	letter-spacing: -0.5px;
	text-align: left;
	width: 250px;
  	height: 30px;
	margin: 60px 0 0 0;
}

div.main_detail1 {
	width: 550px;
  	height: 0;
	margin: 60px 0 0 30px;
}

/* crew 값 */
div.detail_crew {
	/* div */
	height: 34px;
	display:inline-block; /* 글자 길이에 맞춰 너비 조정 */
	padding: 4px 21px 3px 22px;
	border-radius: 10px;
	background-color: #ff4b4e;
	/* 폰트 */
	font-family: "Noto Sans KR";
	font-size: 19px;
	letter-spacing: -0.48px;
	text-align: center;
	color: #fff;
}

div.main_name2,.main_name3,.main_name4 {
	font-family: "Noto Sans KR";
	font-size: 24px;
	font-weight: 500;
	color: #191919;
	letter-spacing: -0.5px;
	text-align: left;
	width: 250px;
  	height: 30px;
	margin: 60px 0 0 0;
}

div.main_detail2,.main_detail3,.main_detail4 {
	width: 550px;
  	height: 180px;
	margin: 60px 0 0 30px;
	/* background-color: pink; */
}

/* write 제목 값 */
div.detail_write {
	width: 550px;
	height: 20px;
	margin-top: 15px;
	font-family: "Noto Sans KR";
	font-size: 17px;
	letter-spacing: -0.5px;
	text-align: left;
	color: #191919;
	cursor: pointer;
	
	/* 글 한줄 넘어갈 경우 숨기기 */
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* market/challenge 이미지, 제목 값 */
div.detail_market,.detail_challenge {
	float: left;
	width: 150px;
	height: 180px;
	margin-left: 30px;
	cursor: pointer;
	
	/* 폰트 */
	font-family: "Noto Sans KR";
	font-size: 12px;
	color: #505050;
}

/* market/challenge img */
#mimg,#cimg {
	width: 150px;
	height: 150px;
	margin-bottom: 5px;
}
#cimg {
	border-radius: 10px;
	width: 150px;
	/* height: 150px; */
}

/* 아이콘 위치 조정 */
.icon_activity_add {
	position: absolute;
	margin: 70px 0 0 20px;
}
/* main css 끝 */
/* 1. 나의활동>모아보기 끝 */



/* 2. 나의활동>작성글목록 시작 */
/* main css 시작 */
/* 전체삭제(체크박스) */
div.write_ck {
	width: 110px;
	font-family: "Noto Sans KR";
	font-size: 15px;
	letter-spacing: -0.33px;
	text-align: left;
	color: #767676;
}

#allcheck { margin: 0 10px 10px 0; }
#check { margin-right: 10px; }


/* write 제목 값 */
div.main_write {
	width: 800px;
	height: 18px;
	margin-top: 15px;
	font-family: "Noto Sans KR";
	font-size: 18px;
	letter-spacing: -0.5px;
	text-align: left;
	color: #191919;
	cursor: pointer;
	margin: 30px 0 0 20px;
}

div.write_sub {
	width: 800px;
	height: 20px;
	margin-top: 15px;
	font-family: "Noto Sans KR";
	font-size: 17px;
	letter-spacing: -0.5px;
	text-align: left;
	color: #191919;
	cursor: pointer;
	
	/* 글 한줄 넘어갈 경우 숨기기 */
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* 삭제하기 버튼 */
.btn_delete {
	outline: none;
	width: 100px;   /* 넓이 수정 가능 */
	height: 33px; /* 높이 수정 가능 */
	border: 2px solid #4d96ff; 
	border-radius: 20px;
	color: #4d96ff;
	font-family: 'Noto Sans KR';
	font-weight: 400;   /* 글씨 Bold 수정 가능 */
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	font-size: 16px;
}

.btn_delete {
	overflow: hidden;
	transition: all 0.2s ease;
}
.btn_delete:hover {
	background: #4d96ff;
	color: #fff;
}
.btn_delete:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}

.btn_delete:active{
	box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
				-4px -4px 6px 0 rgba(116, 125, 136, .2),
				inset -4px -4px 6px 0 rgba(255,255,255,.2),
				inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

/* 페이징 */
#num1,#num2,#num3,#num4,#num5 {
	margin: 0 5px 0 5px;
}

/* 페이징 */
.page {
	position: relative;
}
#pagelbtn,#pagerbtn {
	text-decoration: none;
}
#pagecnum {
	color: #ff4b4e;
}
#pagenum,#pagecnum {
	margin: 0 10px 0 10px;
	text-decoration: none;
}
#pagebtn {
	margin: 0 5px 0 5px;
}

/* main css 끝 */
/* 2. 나의활동>작성글목록 끝 */



/* 3. 나의활동>거래목록 시작 */
/* main css 시작 */
/* market 거래완료 img */
#mimgafter {
	width: 150px;
	height: 150px;
	margin-bottom: 5px;
	opacity: 30%;
}
#msuccess {
	width: 70px;
}
/* main css 끝 */
/* 3. 나의활동>거래목록 끝 */



/* 4. 나의활동>챌린지목록 시작 */
/* main css 시작 */
#cname {
	margin-top: 2px;
	margin-left: 4px;
	font-size: 12px;
	letter-spacing: -0.23px;
	text-align: left;
}
#cimgafter_s {
	width: 150px;
	height: 150px;
	margin-bottom: 5px;
	opacity: 20%;
	border: 5px solid #6bcb77;
	border-radius: 10px;
}
#cimgafter_f {
	width: 150px;
	height: 150px;
	margin-bottom: 5px;
	opacity: 20%;
	border: 5px solid #ff4b4e;
	border-radius: 10px;
}
#csuccess {	width: 90px; }
#cfail { width: 50px; }
/* main css 끝 */
/* 4. 나의활동>챌린지목록 끝 */



/* 5. 나의활동>스크랩 시작 */
/* main css 시작 */
#mcompany {
	margin-top: 5px;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: -0.23px;
	text-align: left;
	color: #191919;
}
#mname {
	margin-top: 2px;
	font-size: 12px;
	letter-spacing: -0.23px;
	text-align: left;
	
	/* 글 한줄 넘어갈 경우 숨기기 */
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#mprice {
	margin: 8px 3px 0 0;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: -0.23px;
	text-align: left;
}
#moprice {
	margin: 8px 0 0 8px;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: -0.23px;
	text-align: left;
	text-decoration:line-through;
	color: #767676;
}

/* 상품 리르슽 버튼 */
.icon_activity_leftmove {
	margin: 60px 30px 0 -40px;
	width: 40px;
}
.icon_activity_rightmove {
	margin: -222px 0 0 820px;
	width: 40px;
}
/* main css 끝 */

/* main2 css 시작 */
div.main_title2 {
	font-family: "Noto Sans KR";
	position: absolute;
	width: 880px;
	height: 35px;
	font-size: 24px;
	font-weight: 500;
	color: #191919;
	margin: 450px 0 0 150px;
	/* margin: 450px 0 0 700px; */
}

#main_hr2 { 
	position: absolute;
	width: 880px;
	height: 1px;
	background-color: #191919;
	margin: 500px 0 0 150px;
	/* margin: 500px 0 0 700px; */
}

div.main_content2 {
	position: absolute;
	width: 880px;
	height: 700px;
	margin: 500px 0 0 150px;
	/* margin: 500px 0 0 700px; */
	
	/* div 정렬 */
	display: flex;
    flex-wrap: wrap;
}
/* main2 css 끝 */
/* 5. 나의활동>스크랩 끝 */