@charset "UTF-8";



div.sidemenu{
  position : relative;
  width: 220px;
  height: 893px; 
  padding: 0 0 40px;
  background: white; 
  top: 66px;
}

span.sidemenubarname{
  position : relative;
  width: 150px;
  height: 35px;
  font-family: NotoSansKR;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  text-align: left;
  color: #191919;
  top: 40px;
}

.marketpriceselect{
  width: 22px;
  height: 22px;
  margin: 0 13px 0 0;
  padding: 6px;
  border-radius: 11px;
  border: solid 1px #ff4b4e;
  background-color: #fff;
  
}




.marketmenutitle{
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.38px;
  text-align: left;
  color: #191919;
  
}

h6{
cursor: pointer;	
}

/*컬러*/
div.colorbox{
	width : 220px;
	height : 200px;
	
	
}
div.sidemenucolorbox{
  width: 30px;
  height: 30px;
  margin: 18px 18px 7px 15px;
  border-radius: 100%;
  cursor: pointer;
	
}

.colorname{
  position :relative;	
  width: 50px;
  height: 17px;
  
  font-family: NotoSansKR;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: left;
  color: #505050;
  top: 30px;
}


.submenutitle{
  width: 300px;
  height: 19px;
  margin: 2px 3px 10px 4px;
  font-family: NotoSansKR;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.33px;
  text-align: left;
  color: #505050;
}

#carte1,#carte2,#carte3{
  width: 220px;
  height: 60px;
  padding: 0 0 19px;
}

.menuup1{
  position : relative;
  left : 120px;
  width: 20px;
  height: 20px;
  padding: 7.5px 3.5px 6.5px 4.5px;
  background-color: #fff;
  
}

.menuup2{
  position : relative;
  left : 148px;
  width: 20px;
  height: 20px;
  padding: 7.5px 3.5px 6.5px 4.5px;
  background-color: #fff;
  
}

.menuup3{
  position : relative;
  left : 135px;
  width: 20px;
  height: 20px;
  padding: 7.5px 3.5px 6.5px 4.5px;
  background-color: #fff;
  
}



.carte1sub{
	text-align: left;
}
/*라디오 버튼 커스텀*/
 input[type=radio]{
	display: none;
}
.radioimg{
	border : 1px solid red;
	border-radius : 100%;
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-right: 5px;
	
} 

.radioimg:after {
	position : relative;
	top : -30px;
	left: -2px;
	content: '\00B7';
	font-size: 50px;
	color: red;
	opacity: 0;
}

#radiobtn:checked + .radioimg:after{
	opacity: 1;
}

.pricelabel{
	cursor: pointer;
}



