@charset "UTF-8";



div.sidemenu{
  position : relative;
  width: 220px;
  height: 893px; 
  padding: 0 0 40px;
  background: white; 
  top: 98px;
}

span.sidemenubarname{
  position : absolute;
  width: 150px;
  height: 35px;
  font-family: NotoSansKR;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  text-align: left;
  color: #191919;
  top: 70px;
}

.marketpriceselect{
  width: 22px;
  height: 22px;
  margin: 0 13px 0 0;
  padding: 6px;
  border-radius: 11px;
  border: solid 1px #ff4b4e;
  background-color: #fff;
}

div.sidemenucolorbox{
  width: 30px;
  height: 30px;
  margin: 18px 18px 7px 15px;
  border-radius: 100%;
	
}

.marketmenutitle{
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.38px;
  text-align: left;
  color: #191919;
}

div.colorbox{
	width : 220px;
	height : 200px;
	
	
}

.submenutitle{
  width: 300px;
  height: 19px;
  margin: 2px 3px 10px 4px;
  font-family: NotoSansKR;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.33px;
  text-align: left;
  color: #505050;
}

#carte1,#carte2,#carte3{
  width: 220px;
  height: 60px;
  padding: 0 0 19px;
}

.menuup{
  width: 20px;
  height: 20px;
  padding: 7.5px 3.5px 6.5px 4.5px;
  background-color: #fff;
}

.colorname{
  position :relative;	
  width: 50px;
  height: 17px;
  
  font-family: NotoSansKR;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: left;
  color: #505050;
  top: 30px;
}



