@charset "UTF-8";

 div.container{
position: absolute;
background: #fff;
width: 1550px;
height: 1250px;
} 


div.marketfirst {
  width: 170px;
  height: 20px;
  margin: 0px 7px 20px 45px;
}

div.marketfirst2{
  position : absolute;
  width: 170px;
  height: 20px;
  margin: 0px 7px 20px 45px;
  left: 0px;
  top: 85px;
}

/*n개의 상품이 있습니다.*/
span.sangpumcount {
  width: 46px;
  height: 18px;
  margin: 2px 2px 0 0;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ff4b4e;
}

span.sangpumcountcomment {
  width: 122px;
  height: 20px;
  margin: 0 0 0 2px;
  font-family: NotoSansKR;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.35px;
  text-align: left;
  color: #191919;
}

/*검색 창*/
div.search {
  position : relative;
  width: 300px;
  height: 36px;
  margin: 52px 16px 20px 82px;
  padding: 9px 12px 8px;
  border: solid 1px #dbdbdb;
  background-color: #fff;
  left: 500px;
  
}

/*검색 창 아이콘*/
span.searchicon {
  position : relative;
  width: 13px;
  height: 13px;  
  background-color: #fff;
  cursor : pointer;
  
}

.searchtext{
  
  width: 250px;
  height: 20px;
  border: 0 solid black;
	
}

/*리스트 형식 변경*/
div.changelist{
	position: absolute;
	margin-top: -58px;
	left: 900px;
	
}
span.largeicon{
  width: 36px;
  height: 36px;
  padding: 11px;
   border: solid 1px #dbdbdb;
  background-color: #fff;
  cursor : pointer;
	
}
span.listicon{
  width: 36px;
  height: 36px;
  padding: 11px 10px;
  border: solid 1px #dbdbdb;
  background-color: #fff;
  cursor : pointer;
}


/*연관 검색어*/
div.relatedsearch{
  width: 1024px;
  height: 85px;
  left : 100px;
  padding: 0 0 32px;
  border: solid 1px #ededed;
  background-color: #fff;
}

span.spanrelatedsearch{
  width: 68px;
  height: 21px;
  margin: 31px 20px 0 32px;
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.38px;
  text-align: left;
  color: #191919;	
	
}
span.searchname{
  font-family: NotoSansKR;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.33px;
  text-align: left;
  color: #767676;
  cursor : pointer;
}

span.morelook{
  margin-left : 500px;
  width: 35px;
  height: 19px;
  font-family: NotoSansKR;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.33px;
  text-align: left;
  color: #767676;
}

span.morelookicon{
  width: 16px;
  height: 16px;
  cursor : pointer;
  padding: 6.5px 5px;
  background-color: #fff;
	
}

div.selectbox{
	position : absolute;
	width: 200px;
	height: 30px;
	left: 20px;
	top : 250px;
	
}

div.marketplacetable{
	width: 1000px;
	height: 1000px;
	border: 1px solid black;
}


div.table {
  position : absolute;
  width: 1024px;
  height: 800px;
  margin-top : 50px;
  padding: 9px 12px 8px;
  border: solid 1px #dbdbdb;
  background-color: #fff;
  left: 0px;
}

.chb{
  width: 20px;
  height: 20px;
  margin: 35px 7px 41px 75px;
  border: solid 1px #dbdbdb;
  background-color: #fff;
  vertical-align: -5px;
  
	
}

div.pagenum{
  position : relative;
  width: 300px;
  height: 50px;
  padding: 9px 12px 8px;
  border: solid 1px #dbdbdb;
  background-color: #fff;
  top : 200px;
  left: 400px;
  float: left;
}

div.pagingnumber{
  width: 36px;
  height: 36px;
  padding: 10px 14px 9px;
  background-color: #ff4b4e;
  border-radius: 100%;
  float: left;
}

span.spanpagingnumber{
  width: 8px;
  height: 17px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  
}



.addbtnimg{
  position : relative;
  width: 91px;
  height: 35px;
  left : 900px;
  bottom : 35px;
  object-fit: contain;
  cursor: pointer;
}

.markettable{
	position: relative;
	left: 0px;
	top: 100px;
}

marketmenutitle li{
	float: left;
}

/*전체테이블 하트 아이콘*/
#chk1,#chk2,#chk3,#chk4,#chk5,#chk6,#chk7,#chk8{
	position: absolute;
	left: -999em;
}
.heart{
	display: inline-block;
	width: 20px;
	height: 20px;
	content : '2661';
	box-sizing: border-box;
	cursor: pointer;	
	font-size: 20pt;
	position: relative;
	left: 200px;
}

#chk1:checked + .heart,#chk2:checked + .heart,#chk3:checked + .heart,#chk4:checked + .heart,
#chk5:checked + .heart,#chk6:checked + .heart,#chk7:checked + .heart,#chk8:checked + .heart{
	color: red;
	
}

/*리스트테이블 하트 아이콘*/
#listchk1,#listchk2,#listchk3,#listchk4,#listchk5,#listchk6,#listchk7,#listchk8{
	position: absolute;
	left: -999em;
}
.listheart{
	display: inline-block;
	width: 20px;
	height: 20px;
	content : '2661';
	box-sizing: border-box;
	cursor: pointer;	
	font-size: 20pt;
	position: relative;
	left: 260px;
}

#listchk1:checked + .listheart,#listchk2:checked + .listheart,#listchk3:checked + .listheart,#listchk4:checked + .listheart,
#listchk5:checked + .listheart,#listchk6:checked + .listheart,#listchk7:checked + .listheart,#listchk8:checked + .listheart{
	color: red;
	
}





/*목록 테이블 크기 조정*/
#phototd{
	width: 255.75px;
	height: 228.78px;
}
#detailtd{
	width: 255.75px;
	height: 70.7px;
}


/*리스트 테이블 크기 조정*/
#photozone{
	width: 200px;
	height: 199.66px;
}
#detailzone{
	width: 311.5px;
	height: 199.66px;
}

