@charset "UTF-8";

.container{
	position: absolute;
}

/*머릿말*/
.detailsubject{
	position : relative;
	left :410px;
	top : 100px;
	
	width: 600px;
	height: 100px;
	
	float: left;
	
}
/*글번호*/
.contentnum{	
  width: 100px;
  height: 35px;
  
  font-family: Noto Sans KR;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  text-align: left;
  color: #191919;
  float: left;
  
}

/*태그*/
div.tag{
  width: 70px;
  height: 24px;
  padding: 3px 14px 2px 12px;
  border-radius: 12px;
  border: solid 1px #dbdbdb;
  background-color: #fff;
  float: left;
  position: relative;
  left: 0px;
  top: 3px;
}
/*태그 스판*/
span.tag{
  width: 38px;
  height: 19px;
  font-family: Noto Sans KR;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.26px;
  text-align: left;
  color: #767676;
}

/*글작성일*/
.writeday{
	position: relative;
	left: 680px;
	top: 110px;
}

/*content*/
.content{
  width: 1015px;
  height: 427px;
  margin: 19px 410px 0;
  padding: 0 0 16px;
  position: relative;
  background-color : #fff;
  top: 100px;
}
/*글작성 아이콘*/
.writeicon{
	position: relative;
	left: 780px;
	top : 10px;
	cursor: pointer;
}
/*작성자 이름 프로필 div*/
div.contentname{
	position: relative;
	left: -100px;
	top: 30px;
}
/*작성자 이름*/
.spanwriter{
  width: 54px;
  height: 29px;
  font-family: Noto Sans KR;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: left;
  color: #505050;
  margin-left: 10px;
}

/*팀 이름*/
div.teamname{
	
  width: 60px;
  height: 20px;
  padding: 4px 14px 3px 12px;
  border-radius: 10px;
  background-color: #ff4b4e;
  position: relative;
  left: 300px;
  top: -35px;	
}
/*팀 이름 스판*/
span.spanteamname{
	
  width: 35px;
  height: 19px;
  font-family: Noto Sans KR;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.33px;
  text-align: left;
  color: #fff;	
  position: relative;
  top: -5px;
}

/*글 제목*/
div.contentsubject{
	position: relative;
	left: 100px;
	top: 20px;
}
/*글 제목 텍스트박스*/
.subjecttextbox{
  width: 850px;
  font-family: Noto Sans KR;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: -0.63px;
  text-align: left;
  color: #505050;
  border: none;
  border-bottom: 1px solid #505050;
}

/*글 내용 */
div.contentarea{
	position: relative;
	left: 100px;
	top : 50px;
}

/*글 내용 textArea*/
.contenttextarea{
	
  width: 850px;
  height: 180px;
  border: none;
	
  font-family: Noto Sans KR;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: -0.5px;
  text-align: left;
  color: #505050;
 
}

/*아이콘 별 누적 카운트*/
.iconcount{
	position: relative;
	left: 790px;
	top: 70px;
}
.iconcount span{
	margin-left: 10px;
}


/*추천수 아이콘*/
.likes{
	cursor: pointer;
}
/*댓글 추가*/
div.addcomment{
	position:relative;
	width: 1015px;
	height: 86px;
	margin: 446px 410px 24px;
	padding: 0 0 25px;
	top: -346px;
}

/*댓글 가이드 */
.guidetext{
  
  
  font-family: Noto Sans KR;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.43px;
  text-align: left;
  color: #767676;
  position: relative;
  left: 350px;
  top: 30px;
}



