@charset "UTF-8";

.container{
	position: absolute;
}

/*머릿말*/
.detailsubject{
	position : relative;
	left :410px;
	top : 100px;
	
	width: 600px;
	height: 100px;
	
	float: left;
	
}
/*글번호*/
.contentnum{	
  width: 100px;
  height: 35px;
  
  font-family: Noto Sans KR;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  text-align: left;
  color: #191919;
  float: left;
  
}



/*태그 스판*/
span.tag{
  font-family: Noto Sans KR;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.26px;
  text-align: left;
  color: #767676;
}
/*태그 스판*/
.badge{
  margin-top: 10px;
  margin-left: 5px;
}

/*글작성일*/
.writeday{
	position : absolute;
	left: 900px;
	width: 180px;
	height: 40px;
	top: 20px;
}

/*하트 이미지 배경 처리중  사진 안불러와 짐 다시 돌아가려면 메인에 하트 특수문자 넣고  백그라운드 지우고 위치 다시 조정*/
.scrap{

   width: 26px;
   height: 26px;
   content : '2661';
   box-sizing: border-box;
   cursor: pointer;   
   font-size: 20pt;
   left: 200px;
}

#chk{
   display: none;
} 

/*content*/
.content{
  width: 1015px;
  height: 427px;
  margin: 19px 410px 0;
  padding: 0 0 16px;
  position: relative;
  background-color : #fff;
  top: 100px;
}
/*글작성 아이콘*/
.writeicon{
	position: relative;
	left: 780px;
	top : 10px;
	cursor: pointer;
}
/*작성자 이름 프로필 div*/
div.contentname{
	position: relative;
	left: -80px;
	top: 30px;
}
/*작성자 이름*/
.spanwriter{
  width: 54px;
  height: 29px;
  font-family: Noto Sans KR;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: left;
  color: #505050;
  margin-left: 10px;
}

/*팀 이름*/
div.teamname{
	
  width: 60px;
  height: 20px;
  padding: 4px 14px 3px 12px;
  border-radius: 10px;
  background-color: #ff4b4e;
  position: relative;
  left: 300px;
  top: -35px;	
}

/* 수정 삭제 버튼 */
div.iflogindiv button{
	border: none;
	background-color: #fff;
	font-size: 14pt;
}

/*팀 이름 스판*/
span.spanteamname{
	
  width: 35px;
  height: 19px;
  font-family: Noto Sans KR;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.33px;
  text-align: left;
  color: #fff;	
  position: relative;
  top: -35px;
  left: 5px;
}

/*글 제목*/
div.contentsubject{
	font-family: NotoSansKR;
  	font-size: 25px;
  	text-align: left;
  	color: #505050;
	height: 60px;
	margin-left: 80px;
}


/*글 내용 */
div.contentarea{
	
  font-family: NotoSansKR;
  font-size: 20px;
  text-align: left;
  color: #505050;
  margin-left: 80px;
  height: 140px;
  margin-top: 20px;
}

/*글 내용 textArea*/
.contenttextarea{
	
  width: 850px;
  height: 180px;
  border: none;
	
  font-family: Noto Sans KR;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: -0.5px;
  text-align: left;
  color: #505050;
 
}

/*아이콘 별 누적 카운트*/
.iconcount{
	position: relative;
	left: 790px;
	top: 70px;
}
.iconcount span{
	margin-left: 10px;
}


/*추천수 아이콘*/
.likes img{
	cursor: pointer;
}
/*댓글 추가*/
div.addcomment{
	position:relative;
	width: 1015px;
	height: 86px;
	margin: 446px 410px 24px;
	padding: 0 0 25px;
	top: -346px;
}

/*댓글 추가 텍스트박스*/
.commenttext{
  width: 765px;
  height: 35px;
  margin: 25px 20px 0 70px;
  padding-left : 10px;
  border-radius: 10px;
  border: solid 1px #dbdbdb;
  background-color: #fff;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.43px;
  text-align: left;
  color: #767676;
}

/*댓글 추가 버튼 이미지*/
.commentaddimg{
	position: relative;
	top: -2px;
	cursor: pointer;
}
/*댓글 영역*/
.commentdiv{
	position : relative;
	width: 1015px;
	height: 550px;
	
	left: 410px;
	top: -350px;
	
    padding: 28px 180px 28px 70px;
    border: solid 1px #dbdbdb;
}

.commentdiv2{
	position : relative;
	width: 1015px;
	height: 200px;
	
	left: 410px;
	top: -350px;
	
    padding: 28px 180px 28px 70px;
    border: solid 1px #dbdbdb;
}

.cocomment{
  width: 650px;
  height: 100px;
  margin: 0 20px 0 35px;
  padding: 10px 0 146px 19px;
  border-radius: 10px;
  border: solid 1px #dbdbdb;
  background-color: #fff;
  position: relative;
  left: 130px;
  top: -80px;
  overflow: hidden;
  font-family: NotoSansKR;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.38px;
  text-align: left;
  color: #767676;
  
  
}

/*채택하기 버튼*/
.selectionbtn{
	position: relative;
	left: 840px;
	top: -120px;
}


/*댓글 작성 일*/
.commentwriteday{
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: left;
  color: #505050;
  position: relative;
  left: 748px;
  top: -105px;
}

/*댓글 작성자 */
.commentuser{
  font-family: Noto Sans KR;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.43px;
  text-align: left;
  color: #505050;
  position: relative;
  left: 10px;
  top: -25px;
  
}

/*유저가 작성한 텍스트 박스*/
.commentwritetext{
  width: 785px;
  height: 45px;
  border-radius: 10px;
  border: solid 1px #dbdbdb;
  background-color: #fff;
  position: relative;
  left: 25px;
  font-family: Noto Sans KR;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.43px;
  text-align: left;
  color: #767676;
  margin-left: 30px;
  position: relative;
  top: -33px;
}


/*공용 버튼*/
.btn-small {
  outline: none;
  width: 75px;   /* 넓이 수정 가능 */
  height: 30px; /* 높이 수정 가능 */
  border: 2px solid #ff4b4e; 
  border-radius: 20px;
  color: #ff4b4e;
  font-family: 'Noto Sans KR';
  font-weight: 400;   /* 글씨 Bold 수정 가능 */
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-small {
  overflow: hidden;
  transition: all 0.2s ease;
}
.btn-small:hover {
   background: #ff4b4e;
  color: #fff;
}
.btn-small:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}

.btn-small:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

/*첫번째 줄 div*/
.firstdiv{
	width: 1015px;
	height: 40px;
	position: relative;
	top: -30px;
	
}
/*컨텐트 첫번째줄 div*/
.contentfirstdiv{
	height: 90px;
	 
}
/*글내용 글제목 사이에 헤드라인*/
.lineblack{
	width: 900px;
	margin-left: 80px;
}

/*페이징처리 div*/
.page{
	position: relative;
	top: -450px;
	left: 350px;
	
	
}
/*삭제 아이콘 위치*/
.trashdiv{
	position: relative;
	
	left: 850px;
	top: -41px;
}

.commentarea{
	height: 80px;
	
}

.userimg{
	position: relative;
	left: 0px;
	top: -20px;
}
#pagenum{
	margin-left: 10px;
}
#pagebtn{
	margin-left: 10px;
}
#pagecnum{
	margin-left: 10px;
}